<% node_time_ratio = (node[:TIME_SPENT].to_f / total_time_spent) %>
<% node_width  = (width * node_time_ratio).to_i %>
<% color = ["#f1261b", "#ff7251", "#ffca7b", "#ffcd74", "#ffedbf"] %>
<% minimum_node_width = 5 %>

<% if node_width > minimum_node_width %>
  <div class="text-wrapper" style='width:<%= node_width %>;'>
    <span data-hover-text="<%= node[:NAME] %> <%= (node_time_ratio*100).to_f.round(2) %>%" class="text" style='background-color:<%= color.sample %>;'><%= node[:NAME] %></span>
  </div>
  <div style='width:<%= node_width %>;' class="node-children">
    <% node[:CHILDREN].each do |k, child| %>
      <div class="node-wrapper">
        <%= ERB.new(node_erb_string).result_with_hash(node: child, width: width, total_time_spent: total_time_spent, node_erb_string: node_erb_string) %>
      </div>
    <% end if node[:CHILDREN] %>
  </div>
<% end %>
